@use "../../app" as *;

.navBar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  height: 3rem;
  width: 100vw;
  background-color: $backgroundColor;
}

.logo {
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.userSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 1rem;
}

.nickname {
  color: $yellow;
  font-size: 1.2rem;
}

.newUser {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}

.gamesButton,
.historyButton {
  justify-self: center;
  box-sizing: border-box;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid $backgroundColor;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $borderColor;
    border: 1px solid $gray;
  }
}
