@use "app";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  scrollbar-color: app.$borderColor app.$widgetColor;
  scrollbar-width: thin;

  font-size: 16px;

  --app-height: 100%;
}

body {
  margin: 0;
  font-family: app.$fontFamily;
  background-color: app.$backgroundColor;
  font-size: app.$fontSize;
  color: app.$textColor;

  ::selection {
    background-color: app.$textColor;
    color: app.$backgroundColor;
  }
}

html,
body {
  min-height: 100vh;
  min-height: var(--app-height);
  height: 100%;
}

#root {
  height: inherit;
  position: relative;
}

a {
  text-decoration: none;
  color: app.$textColor;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: app.$borderColor;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: app.$widgetColor;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: app.$widgetColor;
}
